.heroContainer {
  height: 650px;
  // border: 2px solid brown;
  background-image: url("/images/waves/wave.png");
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    margin: 0;
    color: var(--bg-dark);
    font-size: 32px;
  }
  p {
    color: var(--bg-gray300);
    font-size: 16px;
    span {
      font-weight: bolder;
      font-weight: 700;
      color: var(--bg-dark);
    }
  }
}

.buttonSocials {
  display: flex;
  column-gap: 1rem;
  button {
    padding: 0;
    background-color: transparent !important;
    border: none;
    &:nth-of-type(1) {
      background: white;
    }
    img {
      width: 130px;
      height: 40px;
    }
  }
}

.hero {
  display: flex;
  // column-gap: 5rem;
  // border: 2px solid brown;
  height: 500px;
  align-items: center;
  position: relative;
}

.imageContainer {
  // flex: 1 0 30%;
  img {
    position: absolute;
    height: 200px;
    width: 150px;
    top: 90%;
    left: 30%;
    right: 25%;
    bottom: 0;
    object-fit: contain;
  }
}

.infoHero {
}

@media screen and (min-width: 768px) {
  .hero {
    column-gap: 5rem;
  }
  .imageContainer {
    display: block;
    flex: 1 0 30%;

    img {
      height: 500px;
      width: 250px;
      top: 30%;
      left: 100px;
    }
  }

  .heroContainer {
    h1 {
      font-size: 3rem;
    }
  }
}
