.title {
  text-align: center;
}

.services {
  margin-block: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  row-gap: 100px;
  color: var(--bg-orange);
  .servicesItem {
    // border: 2px solid brown;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .imageContainer {
      i {
        color: var(--bg-orange);
        font-size: 6rem;
      }
      img {
        object-fit: contain;
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .services {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

@media (min-width: 1444px) {
}
