.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-orange);
  svg {
    color: white;
    font-size: 2rem;
    height: 100px;
    width: 100px;
  }
}
