.testimonialsSection {
  border: 1px solid transparent;
  // background-image: url("/banner_animals.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
  background: radial-gradient(#f98e00 15%, transparent 16%),
    linear-gradient(45deg, transparent 49%, #f98e00 49% 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #f98e00 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;
  margin-block-start: 50px;
  // background-attachment: fixed;
}

.testimonialsGrid {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  // border: 2px solid brown;
  align-items: center;
  margin-block: 100px;
  cursor: pointer;
  // background-attachment: fixed;
}

.imageContent {
  width: 100%;
}

.cardTestimonials {
  background-color: white;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.text {
  text-align: center;
  font-size: 18px;
  p:nth-child(2) {
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .imageContent {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .imageContent {
    width: 50%;
  }
}
